.battle-attributes-wrapper
  %fieldset#battleinfo
    %legend
      Battle Stats
    %div.battlestats-wrapper
      %div.battlestats-cell
        %input#ac{type:'number', min:'8', value:'18', max:'99'}
        %br
        AC
      %div.battlestats-cell
        %input#speed{type:'number', min:'0', max:'99', value: '35'}
        %br
        Speed
      %div.battlestats-cell
        %input#initiative{type:'number', min: '-99', max:'99', value:'3'}
        %br
        Initiative
    %div.health-info-wrapper
      %label#maxHP-label{for:'maxHP'}
        Max HP
      %input#maxHP{type:'number', value: '36', min:'0', max:'999'}
      %hr
      .current-HP
        %input#currentHP{type:'number', value:'31', min:'0', max:'999'}
        %br
        Current HP
      .temp-HP
        %input#tempHP{type:'number', value: '10', min:'0', max:'999'}
        %br
        Temporary HP
    %div.hit-dice
      %label#total-label{for:'total-hit-dice'}
        Total
      %input#total-hit-dice{type:'number', value: '2'}
      %hr
      %input#hit-dice{type:'text', value: 'd10'}
      %br
      %label#hit-dice-label{for:'hit-dice'}
        Hit Dice
    %div.saves
      Successes
      %input{type:'checkbox'}
      %input{type:'checkbox'}
      %input{type:'checkbox'}
      %br
      Failures
      %input{type:'checkbox'}
      %input{type:'checkbox'}
      %input{type:'checkbox'}
      %label#death-saves-label
        Death Saves
    %div.passive-perception
      %label#passive-perception-label{for:'passive-perception'}
        Passive Wisdom
      %input#passive-perception{type:'number', value:'12'}
    %div.experience
      %label#experience-label{for:'experience'}
        Experience
      %input#experience{type:'number', value:'1250'}

  %fieldset#attributes
    %legend
      Attributes
    %div.attribute-wrapper
      %div.attribute
        %div.attribute-box
          %input#strength-modifier.box-modifier{type:'text', value:'+3', readonly:'true'}
          %hr
          %input#strength.ability-score{type:'number', value:'18', min:'8', max:'30'}
          %br
          Strength
        %div.skills
          %input{type:'checkbox', id:'strength_save_proficiency', checked:'true'}
          Saving Throws
          %input.modifier{type:'text', id:'strength_save_modifier', readonly:'true', value:'+5'}

          %br
          %input{type:'checkbox', id:'athletics_proficiency', checked:'true'}
          Athletics
          %input.modifier{type:'text', id:'athletics_modifier', readonly:'true', value:"+5"}
      %div.attribute
        %div.attribute-box
          %input#dexterity-modifier.box-modifier{type:'text', value:'+3', readonly:'true'}
          %hr
          %input#dexterity.ability-score{type:'number', value:'12', min:'8', max:'30'}
          %br
          Dexterity
        %div.skills
          %input{type:'checkbox', id:'dexterity_save_proficiency'}
          Saving Throws
          %input.modifier{type:'text', id:'dexterity_save_modifier', readonly:'true', value:'-1'}

          %br
          %input{type:'checkbox', id:'acrobatics_proficiency'}
          Acrobatics
          %input.modifier{type:'text', id:'acrobatics_modifier', readonly:'true', value:'-1'}

          %br
          %input{type:'checkbox', id:'sleight_of_hand_proficiency'}
          Sleight of hand
          %input.modifier{type:'text', id:'sleight_of_hand_modifier', readonly:'true', value:'-1'}

          %br
          %input{type:'checkbox', id:'stealth_proficiency'}
          Stealth
          %input.modifier{type:'text', id:'stealth_modifier', readonly:'true', value:'-1'}
      %div.attribute
        %div.attribute-box
          %input#constitution-modifier.box-modifier{type:'text', value:'+3', readonly:'true'}
          %hr
          %input#constitution.ability-score{type:'number', value:'16', min:'8', max:'30'}
          %br
          Consitution

        %div.skills
          %input{type:'checkbox', id:'constitution_save_proficiency', checked:'true'}
          Saving Throws
          %input.modifier{type:'text', id:'constitution_save_modifier', readonly:'true', value:'+5'}
    %div.attribute-wrapper
      %div.attribute
        %div.attribute-box
          %input#intelligence-modifier.box-modifier{type:'text', value:'+3', readonly:'true'}
          %hr
          %input#intelligence.ability-score{type:'number', value:'10', min:'8', max:'30'}
          %br
          Intelligence
        %div.skills
          %input{type:'checkbox', id:'intelligence_save_proficiency'}
          Saving Throws
          %input.modifier{type:'text', id:'intelligence_save_modifier', readonly:'true', value:'-1'}

          %br
          %input{type:'checkbox', id:'arcana_proficiency'}
          Arcana
          %input.modifier{type:'text', id:'arcana_modifier', readonly:'true', value:'-1'}

          %br
          %input{type:'checkbox', id:'history_proficiency'}
          History
          %input.modifier{type:'text', id:'history_modifier', readonly:'true', value:'-1'}

          %br
          %input{type:'checkbox', id:'investigation_proficiency'}
          Investigation
          %input.modifier{type:'text', id:'investigation_modifier', readonly:'true', value:'-1'}

          %br
          %input{type:'checkbox', id:'nature_proficiency'}
          Nature
          %input.modifier{type:'text', id:'nature_modifier', readonly:'true', value:'-1'}

          %br
          %input{type:'checkbox', id:'religion_proficiency'}
          Religion
          %input.modifier{type:'text', id:'religion_modifier', readonly:'true', value:'-1'}
      %div.attribute
        %div.attribute-box
          %input#wisdom-modifier.box-modifier{type:'text', value:'+3', readonly:'true'}
          %hr
          %input#wisdom.ability-score{type:'number', value:'12', min:'8', max:'30'}
          %br
          Wisdom

        %div.skills
          %input{type:'checkbox', id:'wisdom_save_proficiency'}
          Saving Throws
          %input.modifier{type:'text', id:'wisdom_save_modifier', readonly:'true', value:'+1'}

          %br
          %input{type:'checkbox', id:'animal_handling_proficiency'}
          Animal handling
          %input.modifier{type:'text', id:'animal_handling_modifier', readonly:'true', value:'+1'}

          %br
          %input{type:'checkbox', id:'insight_proficiency'}
          Insight
          %input.modifier{type:'text', id:'insight_modifier', readonly:'true', value:'+1'}

          %br
          %input{type:'checkbox', id:'medicine_proficiency', checked:'true'}
          Medicine
          %input.modifier{type:'text', id:'medicine_modifier', readonly:'true', value:'+3'}

          %br
          %input{type:'checkbox', id:'perception_proficiency', checked:'true'}
          Perception
          %input.modifier{type:'text', id:'perception_modifier', readonly:'true', value:'+3'}

          %br
          %input{type:'checkbox', id:'survival_proficiency'}
          Survival
          %input.modifier{type:'text', id:'survival_modifier', readonly:'true', value:'+1'}
      %div.attribute
        %div.attribute-box
          %input#charisma-modifier.box-modifier{type:'text', value:'+3', readonly:'true'}
          %hr
          %input#charisma.ability-score{type:'number', value:'14', min:'8', max:'30'}
          %br
          Charisma

        %div.skills
          %input{type:'checkbox', id:'charisma_save_proficiency'}
          Saving Throws
          %input.modifier{type:'text', id:'charisma_save_modifier', readonly:'true', value:'+2'}

          %br
          %input{type:'checkbox', id:'deception_proficiency'}
          Deception
          %input.modifier{type:'text', id:'deception_modifier', readonly:'true', value:'+2'}

          %br
          %input{type:'checkbox', id:'intimidation_proficiency', checked:'true'}
          Intimidation
          %input.modifier{type:'text', id:'intimidation_modifier', readonly:'true', value:'+4'}

          %br
          %input{type:'checkbox', id:'performance_proficiency'}
          Performance
          %input.modifier{type:'text', id:'performance_modifier', readonly:'true', value:'+2'}

          %br
          %input{type:'checkbox', id:'persuasion_proficiency'}
          Persuasion
          %input.modifier{type:'text', id:'persuasion_modifier', readonly:'true', value:'+2'}

%div#attack-spell-wrapper
  %fieldset.attacks
    %legend
      Attacks
      .add-button
        %i.fa.fa-plus-circle.fa-2x
      .remove-button
        %i.fa.fa-minus-circle.fa-2x

    %table
      %tr
        %th Name
        %th Proficient?
        %th ATK Bonus
        %th Damage/Type
        %th &nbsp
      %tr.attack-row{description:'Weight: 6lbs Properties: Heavy, two-handed'}
        %td
          Greatsword
        %td
          %input{type:'checkbox', id:'attack1_proficiency', checked:'true'}
        %td
          %input.attack-bonus{type:'text', id:'attack1_attack_bonus', value:'+5'}
        %td
          %input.attack-damage{type:'text', id:'attack1_damage', value:'2d6 slashing'}
        %td.delete
          %i.fa.fa-minus-circle
          Delete


  %fieldset.spells
    %legend
      Spells
      .add-button
        %i.fa.fa-plus-circle.fa-2x
      .remove-button
        %i.fa.fa-minus-circle.fa-2x

%fieldset.feats
  %legend
    Feats
    .add-button
      %i.fa.fa-plus-circle.fa-2x
    .remove-button
      %i.fa.fa-minus-circle.fa-2x

  %table
    %tr
      %th Name
      %th Description
      %th &nbsp
    %tr
      %td Athlete
      %td When you are prone, standing up uses only 5 feet of your movement. Climbing doesn't halve your speed.
      %td.delete
        %i.fa.fa-minus-circle
        Delete
