#other-info-tab
  .top-row-wrapper
    %fieldset.basic-info-fieldset#basics
      %legend
        Basic Information
      .basic-info-background
        .basic-info-wrapper-input
          .basic-info-cell
            %input#pc-class{type:'text', value: 'Fighter'}
          .basic-info-cell
            %input#pc-race{type:'text', value: 'Dwarf'}
        .basic-info-wrapper-label
          .basic-info-cell
            Class
          .basic-info-cell
            Race
        .basic-info-wrapper-input
          .basic-info-cell
            %input#pc-age{type:'number', value: '25'}
          .basic-info-cell
            %input#pc-alignment{type:'text', value: 'Neutral Good'}
        .basic-info-wrapper-label
          .basic-info-cell
            Age
          .basic-info-cell
            Alignment
        .basic-info-wrapper-input
          .basic-info-cell
            %input#pc-height{type:'text', value: '5"2'}
          .basic-info-cell
            %input#pc-weight{type:'text', value: '155lbs'}
        .basic-info-wrapper-label
          .basic-info-cell
            Height
          .basic-info-cell
            Weight
    %fieldset.background-fieldset#background
      %legend
        Background
      .background-cell
        %textarea#pc-background{type:'text'}
  %fieldset#inventory
    %legend
      Inventory
    .currency-wrapper
      .currency-cell
        CP:
        %input#cp{type:'number'}
      .currency-cell
        SP:
        %input#sp{type:'number'}
      .currency-cell
        GP:
        %input#gp{type:'number'}
      .currency-cell
        EP:
        %input#ep{type:'number'}
      .currency-cell
        PP:
        %input#pp{type:'number'}
    .main-inventory-cell
      %textarea#inventory{type:'text'}




