#spells-tab
  %table
    %tr
      %th Class
      %th Level
      %th School
      %th Ritual
      %th Casting Time
      %th Components
      %th Concentration
      %th Source
      %th &nbsp
    %tr
      %td
        %select
      %td
        %select
      %td
        %select
      %td
        %select
      %td
        %select
      %td
        %select
      %td
        %select
      %td
        %select
      %td
        %a{href:'#'} Clear All

    %table.sortable
      %tr
        %th Name
        %th Level
        %th School
        %th Ritual
        %th Casting Time
        %th Components
        %th Concentration
        %th Source