#encounterHeading
  %input{name: "encounter-name", type: "text/plain"}
  in campaign
  %select.campaignName
    %option{value: "My New Campaign"}="My New Campaign"
    %option{value: "Campaign 1"}="Campaign 1"
    %option{value: "My New Campaign"}="test"
  %input{name: "number-of-creatuers", type: "number"}
  Creatures

#encounterCreaturesTable.table
  .tr
    #monster1.td
      %input{name: "encounter-name", value: "Goblin 1", type: "text/plain"}
      %div.attribute
        HP:
        %input.ability_score{type:'number', name:'hp', min:'0', max:'4', value:'4'}
      %div.attribute
        Max HP:
        %input.ability_score{type:'number', name:'hp', min:'0', max:'4', value:'4'}
      %div.attribute
        AC:
        %input.ability_score{type:'number', name:'hp', min:'0', max:'4', value:'4'}
      %div.attribute
        Initiative:
        %input.ability_score{type:'number', name:'hp', min:'0', max:'4', value:'4'}
      %div#attack-spell-wrapper
        %fieldset.attacks
          %legend
            Attacks
        %fieldset.spells
          %legend
            Spells
        %fieldset.spells
          %legend
            Other