.campaigns.twoColumns
  %h2 My Campaigns
  %table
    %tr
      %th Name
      %th # of Encounters
      %th Last Modified
    %tr
      %td Campaign 1
      %td 3
      %td 2015-07-03
    %tr
      %td test
      %td 35
      %td 2014-09-03
    %tr
      %td new camp
      %td 0
      %td 2012-01-08

  -#TODO replace with real link

  = link_to 'Create new campaign...', "http://www.google.com/search/ass"

.characters.twoColumns
  %h2 My Player Characters
  %table
    %tr
      %th Name
      %th # of Encounters
      %th Last Modified
    %tr
      %td Campaign 1
      %td 3
      %td 2015-07-03
    %tr
      %td test
      %td 35
      %td 2014-09-03
    %tr
      %td new camp
      %td 0
      %td 2012-01-08

  -#TODO replace with real link

  = link_to 'Create new player character...', "http://www.google.com/search/ass"