#dice-roller {
  position: fixed;
  z-index: 90;
  background-color: #999999;
  width: 300px;
  display: none;
  bottom: 60px;
  right: 0;
  margin-right: 20px;
  border-radius: 10px 10px 0 0;

  #dice-roller-content {
    margin: 10px;
    padding: 10px;
    background-color: #DDDDDD;

    table {
      text-align: left;

      input[type=number] {
        width: 60px;
      }

      input[type=text] {
        width: 132px;
      }

      td:nth-child(2),
      th:nth-child(2) {
        text-align: center;
      }
      td:nth-child(2) {
        width: 50px;
        cursor: pointer;

        &:hover {
          font-weight: bold;
        }
      }
    }

    .button {
      margin-top: 10px;
    }

    #error-message {
      color: red;
      padding: 5px;
    }

    #dice-roller-output {
      width: 260px;
      height: 160px;
      overflow-y: scroll;
      margin: 10px 0;
      background-color: #EEE;

      .dice-roller-separator {
        border-top: 2px solid #666;
        margin: 0 10px;
      }

      .dice-roller-formula {
        color: #444;
        margin: 10px;

        &:last-child {
          color: #111;
          font-weight: bold;
          text-shadow: 1px 1px 1px #AAA;
        }
      }
    }

    #dice-roller-input {
      width: 260px;
      font-size: 24px;

    }

    input {
      border: 1px solid #BBB;
      transition: box-shadow 0.3s, border 0.3s;
      outline: none;

      &:focus {
        border: 1px solid #EEE;
        box-shadow: 0 0 5px 1px #EEE;
      }

      &.invalid {
        border: 1px solid #E00;
        box-shadow: 0 0 5px 1px #E00;
      }
    }
  }

}
