#dice-roller {
  position: absolute;
  z-index: 90;
  background-color: #999999;
  width: 300px;
  height: 450px;
  display: none;
  bottom: 52px;
  right: 0;
  margin-right: 20px;
  padding: 10px;

  table {
    text-align: left;
    td:nth-child(1),
    th:nth-child(1) {
      width: 60px;
      padding-right: 20px;
      input {
        width: 60px;
      }
    }
    td:nth-child(2),
    th:nth-child(2) {
      width: 30px;
      padding-right: 20px;
    }
    td:nth-child(3),
    th:nth-child(3) {
      width: 150px;
      input {
        width: 150px;
      }
    }

  }

  a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background: #bbb;

    &:hover {
      background: #aaa;
    }
  }

  #error-message {
    color: red;
    padding: 5px;
  }

  #dice-roller-output {
    width: 294px;
    height: 160px;
    overflow-y: scroll;
    margin: 10px 0;

    .dice-roller-separator {
      border-top: 2px solid #666;
    }

    .dice-roller-formula {
      color: #444;
      margin: 10px;

      &:last-child {
        color: #111;
        font-weight: bold;
      }
    }
  }

  #dice-roller-input {
    width: 294px;
    font-size: 24px;

  }

  input {
    border: 1px solid #BBB;
    transition: box-shadow 0.3s, border 0.3s;

    &:focus {
      border: 1px solid #EEE;
      box-shadow: 0 0 5px 1px #EEE;
    }

    &.invalid {
      border: 1px solid #E00;
      box-shadow: 0 0 5px 1px #E00;
    }
  }


}
