#encounterHeading{
  h2{
    display: inline-block;
    margin-right: 10px;
  }

  .campaign-name{
    border-radius: 4px;
    padding: 2px 4px;
    margin-left: 5px;
  }
}

#add-monster-button{
  position: absolute;
  top: 0;
  right: 0;
  color: green;
  padding: 5px;

  border-left: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;

  border-bottom-left-radius: 25%;
  background-color: #BBBBBB;

  cursor: pointer;
}

#add-monster-button:hover{
  color: darkgreen;

  border-left: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;

  border-bottom-left-radius: 25%;
}


#encounter-creatures-table{
  border-top: 2px solid #BBBBBB;
  border-left: 2px solid #BBBBBB;
  background-color: #DDD;
  position: relative;
  display: table;
  width: 100%;

  .monster-row {
    border-bottom: 4px solid #AAAAAA;
    border-right: 4px solid #AAAAAA;
    padding: 10px 10px 30px 10px;
    white-space: nowrap;

    margin-bottom: 10px;

    .name{
    padding-top: 25px;
    padding-left: 5px;
    vertical-align: top;
    display: inline-block;

    input{
     border: none;
     outline: none;
     ouline-offset: none;
     -webkit-appearance: none;
     background-color: transparent;
     font-weight: bold;
     font-size: large;
    }
  }
    .attributes{
      display: inline-block;

      .health-info-wrapper {
        height: 100%;
        display: inline-block;
        background-color: #FAFAFA;
        border: 2px outset #444444;
        border-radius: 5px;
        padding: 4px;
        hr {
          margin: 5px 0 5px 0;
        }
        .max-HP-label{
          color: #444444;
          font-size: smaller;
        }
        .max-HP{
          float: right;
          margin-left: 10px;
          width: 40px;
          border: none;
          background: none;
          font-size: smaller;
          color: #666666;
        }
        .current-HP{
          float: right;
          margin-left: 10px;
          width: 40px;
          border: none;
          background: none;
          font-size: smaller;
          color: #666666;
        }
      }

      .attribute-set-wrapper{
        display: inline-block;
        padding: 4px;
        .attribute{
          margin-top: 3px;
          margin-bottom: 3px;
          display: block;
          background-color: #FAFAFA;
          border: 2px outset #444444;
          border-radius: 5px;
          padding: 3px;
          width: 64px;
          color: #444444;
          label{
            font-size: smaller;
          }
          input{
            border: none;
            background: none;
            width: 38px;
            font-size: smaller;
            text-align: right;
          }
        }
      }
    }


    #fieldset-wrapper{
     height: 60%;
     width: 100%;
     display: inline-block;
     vertical-align: top;
     .attacks {
       vertical-align:  top;
       display: inline-block;
       height: 100%;
       border: 4px outset #B3B3B3;

       legend {
         font-size: medium;
         font-weight: bold;
       }

       .add-button{
         color: green;
         padding: 2px;
       }

       table {
         border-collapse: collapse;
         th {
           font-size: smaller;
           color: #666666;
         }
         td, th {
           padding: 0 10px 0 10px;
         }
         td {
           text-align: center;
           font-size: smaller;
           background-color: #DDD;
         }
         .attack-damage {
           width: 100px
         }
         .attack-bonus {
           width: 25px;
           border: 2px solid #99CCFF;
           border-radius: 5px;
         }

         .delete {
           color: darkred;
         }
         .delete:hover {
           background-color: rgba(102, 0, 9, 0.38);
         }

         tr:hover td {
           background-color: #999999;
         }

         .attack-row:hover:after {
           background: #333;
           background: rgba(0, 0, 0, .8);
           border-radius: 5px;
           color: #fff;
           content: attr(description);
           padding: 5px 15px;
           position: absolute;
           z-index: 999;
           width: 500px;
         }
       }
     }
      .spells {
        display: inline-block;
        vertical-align: top;
        width: 450px;
        height: 100%;
        border: 4px outset #B3B3B3;

        .spell-column {
          display: inline-block;
          width: 50%;
          vertical-align: top;

          .spell-block {
            white-space: normal;
            &.delete-warning {
              background-color: rgba(102, 0, 9, 0.38);
            }

            .spell {
              display: inline-block;
              vertical-align: top;
              padding: 8px 2px 8px 2px;
              cursor: pointer;
              width: 50%;
              font-size: smaller;

              &:hover {
                background-color: #999;
              }
            }

            .delete {
              display: inline-block;
              margin: 0;
            }
          }
        }
     }

     .other{
       vertical-align: top;
       display: inline-block;
       height: 100%;
       border: 4px outset #B3B3B3;

       legend {
         font-size: medium;
         font-weight: bold;
       }
     }
    }

    display: table-cell;
  }
}