#encounterHeading{
  h2{
    display: inline-block;
    margin-right: 10px;
  }
}

.add-monster-button{
  position: absolute;
  top: 0;
  right: 0;
  color: green;
  padding: 5px;

  border-left: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;

  border-bottom-left-radius: 25%;
  background-color: #BBBBBB;

  cursor: pointer;
}

.add-monster-button:hover{
  color: darkgreen;

  border-left: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;

  border-bottom-left-radius: 25%;
  background-color: #AAAAAA;
}


#encounter-creatures-table{
  border-top: 2px solid #BBBBBB;
  border-left: 2px solid #BBBBBB;
  background-color: #DDD;
  position: relative;
  display: table;
  width: 100%;

  .monster-row {
    border-bottom: 4px solid #AAAAAA;
    border-right: 4px solid #AAAAAA;
    padding: 10px;
    white-space: nowrap;

    margin-bottom: 10px;

    .name{
    padding-top: 10px;
    vertical-align: middle;
    display: inline-block;

    input{
     border: none;
     outline: none;
     ouline-offset: none;
     -webkit-appearance: none;
     background-color: transparent;
     font-weight: bold;
     font-size: large;
    }
  }

    .attribute-set-wrapper {
     padding-top: 10px;
     display: inline-block;
     vertical-align: middle;
     .attribute-couple {
       display: table;
       .attribute {
         display: table-row;
         label {
           display: table-cell;
         }
         .ability-score {
           display: table-cell;
         }
       }
     }
    }

    #fieldset-wrapper{
     height: 60%;
     width: 100%;
     display: inline-block;
     vertical-align: top;
     .attacks {
       vertical-align:  top;
       display: inline-block;
       height: 100%;
       legend {
         font-size: medium;
         font-weight: bold;
       }

       .add-button{
         color: green;
         padding: 10px;
       }

       table {
         border-collapse: collapse;
         th {
           font-size: smaller;
           color: #666666;
         }
         td, th {
           padding: 0 10px 0 10px;
         }
         td {
           text-align: center;
           font-size: smaller;
           background-color: #DDD;
         }
         .attack-damage {
           width: 100px
         }
         .attack-bonus {
           width: 25px;
           border: 2px solid #99CCFF;
           border-radius: 5px;
         }

         .delete {
           color: darkred;
         }
         .delete:hover {
           background-color: rgba(102, 0, 9, 0.38);
         }

         tr:hover td {
           background-color: #999999;
         }

         .attack-row:hover:after {
           background: #333;
           background: rgba(0, 0, 0, .8);
           border-radius: 5px;
           color: #fff;
           content: attr(description);
           padding: 5px 15px;
           position: absolute;
           z-index: 999;
           width: 500px;
         }
       }
     }
     .spells {
       vertical-align:  top;
       .add-button{
         color: green;
         padding: 10px;
       }

       display: inline-block;
       height: 100%;
       legend {
         font-size: medium;
         font-weight: bold;
       }

       table {
         border-collapse: collapse;
         th {
           font-size: smaller;
           color: #666666;
         }
         td, th {
           padding: 0 10px 0 10px;
         }
         td {
           text-align: center;
           font-size: smaller;
           background-color: #DDD;
         }

         .delete {
           color: darkred;
         }
         .delete:hover {
           background-color: rgba(102, 0, 9, 0.38);
         }

         tr:hover td {
           background-color: #999999;
         }

         .spell-row:hover:after {
           background: #333;
           background: rgba(0, 0, 0, .8);
           border-radius: 5px;
           color: #fff;
           content: attr(description);
           padding: 5px 15px;
           position: absolute;
           z-index: 999;
           width: 500px;
         }
       }
     }
     .other{
       vertical-align: top;
       display: inline-block;
       height: 100%;
       legend {
         font-size: medium;
         font-weight: bold;
       }
     }
    }

    display: table-cell;
  }
}