.twoColumns {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
#summaryTable.table {
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #BBBBBB;

  a {
    text-decoration: none;
  }

  .tr:hover .td{
    background-color: #CCCCCC;
  }

  .tr:nth-child(even) {
    background-color: #DDDDDD;
  }

  .tr:nth-child(odd) {
    background-color: #EEEEEE;
  }

  .td, .th {
    text-align: center;
    vertical-align: middle;
    padding: 10px 15px;
  }

  .th {
    background-color: #BBBBBB;
    font-weight: bold;
  }

  .td{
    border-right:  2px solid #BBBBBB;
  }

  .tr .td:first-child{
    text-align: left;
  }

  .tr .td:last-child{
    border-right: none;
  }
}

