#login-form {
  z-index: 90;
  display: none;
  position: absolute;
  right: -3%;
  top: 54px;
  background-color: #DDD;
  border: 2px solid #BBB;
  border-radius: 4px;
  padding: 10px 10px 0 10px;

  #login-alert {
    padding-bottom: 10px;
    &:empty {
      padding: 0;
    }
  }

  #email, #password {
    padding: 10px;
  }

  input[type='submit'] {
    display: block;
    margin: auto;
    border: 1px solid #AAA;
    padding: 5px;
    cursor: pointer;
    background-color: #EEE;
    border-radius: 4px;

    &:hover {
      background-color: #CCC;
    }

    &:active {
      background-color: #AAA;
    }
  }
}