#player-character {
  .battle-attributes-wrapper{
  }
  fieldset{
    background-color: #DDDDDD;
    border: 4px outset #B3B3B3;
  }
  fieldset legend {
    font-size: medium;
    font-weight: bold;
    color: #444444;
  }
  #battleinfo {
    width: 20%;
    float: left;
    height: 422px;
    @media only screen and (max-width: 1200px) {
      height: 472px;
    }
    .battlestats-wrapper {
      width: 100%;
      display: table;
      height: 15%;
      .battlestats-cell {
        display: table-cell;
        width: 33%;
        input {
          width: 60px;
          float: left;
        }
      }
    }
    .battlestats-section2-wrapper {
      display: table;
      height: 45%;
      border: 1px solid #111111;
      padding: 5px;
      .battlestats-section2-top-cell {
        margin-bottom: 5%;
          input {
            width: 50px;
            float: right;
          }
        }
      .battlestats-section2-bottom-cell{
        input {
          width: 95%;
          font-size: larger;

        }

      }
    }
    .battlestats-section3-wrapper {
      display: table;
      height: 33%;
      margin-top: 5px;
      .battlestats3-cell {
       display: table-cell;
        width: 45%;
        border: 1px solid #111111;
        padding: 3px;
        input {
          width: 30px;
          float: left;
        }
      }
    }
  }
  #attributes {
    margin-left: 5%;
    font-size: smaller;
    height: 425px;
    @media only screen and (max-width: 1200px) {
      height: 475px;
    }

    .attribute-wrapper {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 40%;

      .attribute {
        display: table-cell;
        vertical-align: top;
        height: 200px;
        border: 1px solid #111111;

        .attribute-box{
          float: left;
          hr {
            margin: 0;
          }
          background-color: #FAFAFA;
          margin: 5px;
          padding: 2px;
          border: 2px outset #444444;
          border-radius: 5px;
          text-align: center;
          width: 90px;
          .box-modifier{
            background: none;
            border: none;
            font-weight: bold;
            font-size: 17px;
            text-align: center;
            width: 40px;
          }
          .ability-score{
            padding-left: 15px;
            text-align: left;
            left: 20px;
            border: none;
            background: none;
            font-weight: bold;
            font-size: 22px;
            width: 39px;
          }
        }

        .skills{
          white-space:nowrap;
          display: inline-block;
        }

        .text-entry {
          width: 100px;
        }

        .ability_score {
          width: 30px;
        }

        .modifier {
          width: 25px;
          border: 2px solid #99CCFF;
          border-radius: 5px;
          text-align: center;
          float: right;
        }
      }
    }
  }

  #attack-spell-wrapper {
    font-size: smaller;
    display: table;
    table-layout: fixed;
    width: 97%;
    box-sizing: border-box;
    overflow: auto;

    .attacks {
      width: 100%;
      height: 100%;

      table {
        border-collapse: collapse;
        th {
          font-size: smaller;
          color: #666666;
        }
        td, th {
          padding: 0 10px 0 10px;
        }
        td {
          text-align: center;
        }
        .attack-damage {
          width: 100px
        }
        .attack-bonus {
          width: 25px;
          border: 2px solid #99CCFF;
          border-radius: 5px;
        }

        tr:hover {
          background-color: #999999;
        }

        .attack-row:hover:after {
          background: #333;
          background: rgba(0, 0, 0, .8);
          border-radius: 5px;
          color: #fff;
          content: attr(description);
          padding: 5px 15px;
          position: absolute;
          z-index: 999;
          width: 500px;
        }
      }
    }

    .spells {
      width: 100%;
      height: 100%;

      .spell-column {
        display: inline-block;
        width: 25%;
        vertical-align: top;

        .spell-block {

          &.delete-warning {
            background-color: rgba(102, 0, 9, 0.38);
          }

          .spell {
            display: inline-block;
            vertical-align: top;
            padding-left: 8px;
            cursor: pointer;
            width: 50%;

            &:hover {
              background-color: #999;
            }
          }

          .delete {
            display: inline-block;
            margin: 0;
          }
        }
      }
    }

  }

  .feats{
    font-size: smaller;
    table {
      td, th {
        padding: 0 10px 0 10px;
      }

      th {
        font-size: smaller;
        color: #666666;
      }
    }
  }
}

.add-button, .add-button:visited, .remove-button, .remove-button:visited {
  color: #080;
  margin: 0 0 0 8px;
  display: inline-block;
  cursor: pointer;

  &:hover {
    color: #070;
  }

  &:active {
    color: #060;
  }
}

.remove-button, .remove-button:visited {
  color: #800;

  &:hover {
    color: #700;
  }
}

.delete {
  color: darkred;
  cursor: pointer;
  margin: 0 10px;
  padding: 0 10px;
  visibility: hidden;

  i {
    margin-right: 4px;
  }

  &:hover {
    background-color: rgba(102, 0, 9, 0.38);
    color: #333;
  }
}
