#other-info-tab {
  font-size: smaller;
  .top-row-wrapper {
    height: 300px;
    margin-bottom: 50px;
  }
  .basic-info-fieldset {
    width: 48%;
    float: left;
    height: 100%;
  }
  legend {
    font-size: medium;
    font-weight: bold;
  }
  .basic-info-wrapper {
    display: table;
  }
  .basic-info-cell {
    display: table-cell;
    padding: 0 15px;
    input {
      float: right;
      padding: 0 10px;
    }
    input[type = text] {
      width: 100px;
    }
    input[type = number] {
      width: 50px;
    }
  }
  .background-fieldset {
    margin-left: 10%;
    height: 100%;
  }
  .background-cell {
    height: 100%;
    textarea {
      width: 100%;
      height: 90%;
    }
  }
  .currency-wrapper{
    height: 20%;
    width: 100%;
    display: table;
    border-bottom: solid;
    margin-bottom: 5px;
  }
  .currency-cell {
    display: table-cell;
    padding: 0 20px;
    input[type = number]{
      width: 25px;
    }
  }
  .main-inventory-cell {
    textarea {
      width: 99%;
      height: 200px;
    }

  }
}