.spell-tooltip {
  display: none;
  position: absolute;
  z-index: 100;
  width: 300px;
  background-color: #EC242A;
  border-radius: 8px;

  .spell-tooltip-content {
    background-color: white;
    margin: 10px 10px 0 10px;
    border-radius: 8px;

    .spell-name {
      font-size: 24px;
      text-align: center;
      border-bottom: 4px solid #EC242A;
      padding: 4px;
      display: inline-block;
      width: 100%;
    }

    .spell-casting-time, .spell-range, .spell-components, .spell-duration {
      text-align: center;
      display: inline-block;
      width: calc(50% - 2px);
      font-size: 16px;
      vertical-align: top;

      .title {
        color: #EC242A;
        font-weight: bold;
      }
    }

    .spell-casting-time, .spell-range {
      border-bottom: 4px solid #EC242A;
    }

    .spell-casting-time, .spell-components {
      border-right: 2px solid #EC242A;
    }

    .spell-range, .spell-duration {
      border-left: 2px solid #EC242A;
    }

    .spell-material-components {
      font-size: 12px;
      background-color: #EC242A;
      padding: 2px 4px;
    }

    .spell-description {
      padding: 8px;
      font-size: 12px;

      p {
        margin: 0;
      }
    }
  }

  .spell-class {
    font-size: 12px;
    padding: 4px 8px;
    width: calc(100% - 16px);
    text-align: left;
  }

  .spell-level {
    font-size: 12px;
    padding: 4px 8px;
    width: calc(100% - 16px);
    text-align: right;
  }
}