#spells-tab{
  font-size: small;
  table {
    width:100%;
  }
  select{
    width: 100%;
  }

  .sortable-header {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

}