#spells-tab{
  font-size: small;
  table {
    width:100%;
    border-collapse: collapse;

    .add-button-header {
      width: 32px;
    }

    .spell-row:hover {
      background-color: #999
    }
  }
  select{
    width: 100%;
  }

  .search-icon {
    position: absolute;
    top: 22px;
    left: 71px;
  }

  input[type='search'] {
    padding-left: 18px;
  }

  .hidden {
    display: none;
  }

  .spell-table-wrapper{
    height: 400px;
    overflow-y: scroll;
  }

}