#spells-feats-collection {
  position: fixed;
  z-index: 90;
  background-color: rgba(153, 153, 153, 0.9);
  width: 850px;
  height: 600px;
  display: none;
  bottom: 60px;
  right: 0;
  margin-right: 20px;
  padding: 10px;
}

#spells-feats-tabs{
  float: none;
  list-style: none;
  position: relative;
  text-align: left;
  li {
    float: left;
    display: block;
  }
  input[type="radio"]{
    position: absolute;
    display: none;
  }
  .spells-feats-tab-label {
    display: block;
    padding: 14px 21px;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    top: 4px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #DDDDDD;
    }
  }
  .spells-feats-tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: calc(100% - 50px);
    font-size: 17px;
    line-height: 25px;
    padding: 0 25px 10px 25px;
    position: absolute;
    top: 53px;
    left: 0;
    background-color: #EEEEEE;
  }
  [id^="spells-feats-tab"]:checked + label {
    top: 0;
    padding-top: 17px;
    background-color: #EEEEEE;
  }
  [id^="spells-feats-tab"]:checked ~ [id^="spells-feats-tab-content"] {
    display: inline-block;
  }
}
