#toolbar {
  position: fixed;
  display: inline-block;
  bottom: 0;
  right: 0;
  font-size: 28px;
  margin-right: 20px;
  background-color: #EC242A;
  z-index: 50;

  #spells-feats-button, #dice-roller-button {
    height: 40px;
    line-height: 40px;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: #FAFAFA;

    &:hover {
      background-color: #BD1D22;
    }

    &.activated {
      background-color: #BD1D22;
    }

    &:active {
      background: #A5191D;
    }
  }
}

